doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Nailbox
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
		style(type="text/css").
			.thread {
				border-bottom: solid 1px black;
			}
			#main:empty {
				background-image: url('/public/pexels-photo-41830.jpeg');
				background-size: cover;
				position:fixed;
				top:0;
				right:0;
				bottom:0;
				left:0;
			}
	body
		.container
			#status.jumbotron
				h1 Welcome to Nailbox!
				p Waiting for JavaScript engine to initialize...
			#main
		script(type='text/javascript' src='https://apis.google.com/js/client.js?onload=checkAuth')
		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.js')
		script(type='text/javascript' src='public/clientmain.js')
		script#handlebar-thread(type='text/x-handlebars-template')
			.thread(data-thread-id="{{threadId}}")
				.row
					.col-xs-10
						strong From&nbsp;
						span(title="{{#each senders}} {{this.name}} {{/each}}")
							| {{senders.0.name}}
							| {{#if senders.1.name}}
							| (and {{nMore senders.length}} more)
							| {{/if}}
						| {{#if receivers.0.name}}
						strong To&nbsp;
						span(title="{{#each receivers}} {{this.name}} {{/each}}")
							| {{receivers.0.name}}
							| {{#if receivers.1.name}}
							| (and {{nMore receivers.length}} more)
							| {{/if}}
						| {{/if}}
					.col-xs-2 {{prettyTimestamp lastUpdated}}
				.row
					.col-xs-10
						strong
							//a(href="https://mail.google.com/mail/u/0/#inbox/{{threadId}}")
							a(href="https://mail.google.com/mail/u/0/h/?th={{threadId}}&v=c&f=1")
								|{{subject}}
							
						p {{snippet}}
					.col-xs-2
						button.btn.btn-xs.btn-success Done
						button.btn.btn-xs.btn-danger Delete
						br
						button.btn.btn-xs.btn-warning Later
						button.btn.btn-xs.btn-primary Label