doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Nailbox
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/css/messenger.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/css/messenger-theme-air.css")
		link(rel="shortcut icon" type="image/png" href="/public/favicon.png")
		style(type="text/css").
			#main:empty {
				background-image: url('/public/pexels-photo-41830.jpeg');
				background-size: cover;
				position:fixed;
				top:0;
				right:0;
				bottom:0;
				left:0;
			}
			.spin {
				-webkit-animation:spin 4s linear infinite;
				-moz-animation:spin 4s linear infinite;
				animation:spin 4s linear infinite;
			}
			@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
			@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
			@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
			#later-picker .row .button {
				text-align: center;
				height: 100px;
				background: #f9f9f9;
				border: solid 1px #fff;
				padding: 10px;
			}
			#later-picker .row .button:hover {
				background: #563d7c;
				color: #fff;
			}
			#later-picker .row .button .glyphicon {
				font-size: 48px;
			}
			#later-picker .row .button .later-label {
				font-size: 18px;
			}
			.noselect {
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-khtml-user-select: none;    /* Konqueror */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;       /* IE/Edge */
				user-select: none;           /* non-prefixed version, currently not supported by any browser */
			}
			.group {
				font-size: 120%;
				border-bottom: solid 2px black;
			}
			.thread {
				border-bottom: solid 1px black;
			}
			.thread:hover, .thread.visibility-updated:hover, .thread.visibility-when-i-have-time:hover {
				background: #bbf;
			}
			.thread.visibility-updated {
				background: #ff8;
			}
			.thread.visibility-when-i-have-time {
				background: #8f8;
			}
			.message-body {
				overflow-x: auto;
			}
			@media (min-width: 1041px) {
				#thread-viewer .modal-dialog {
					width: 949px;
				}
			}
			#thread-viewer .message-body .pre {
				white-space: pre-wrap;
				background-color: #f5f5f5;
				border: solid 1px #ccc;
				font-family:  Menlo,Monaco,Consolas,"Courier New",monospace;
				padding: 9.5px;
				overflow-x: auto;
			}
	body
		.container
			#status.jumbotron
				h1 Welcome to Nailbox!
				p Waiting for JavaScript engine to initialize...
			#main
			#thread-viewer.modal.fade(tabindex="-1" role="dialog")
				.modal-dialog.modal-lg(role="document")
					.modal-content
						.modal-header
							button.close(type="button" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true") &times;
							h4.modal-title Modal title
							strong Senders&nbsp;
							span.senders
								| Sender 1
								| Sender 2
							strong Receivers&nbsp;
							span.receivers
								| Receiver 1
								| Receiver 2
						.modal-body
							.loading-img
								img.spin.img-responsive.center-block(src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Vector_Loading.svg/1024px-Vector_Loading.svg.png" width="100px" height="100px")
							.threads
							.reply
								textarea(rows=3 placeholder="Type reply here").form-control
								button.btn.btn-primary.reply-all Reply all
						.modal-footer
							button.btn.btn-xs.btn-success.archive-thread(title="Done")
								span.glyphicon.glyphicon-ok
							button.btn.btn-xs.btn-danger.delete(title="Delete")
								span.glyphicon.glyphicon-remove
							button.btn.btn-xs.btn-warning.later(title="Later")
								span.glyphicon.glyphicon-time
							button.btn.btn-xs.btn-primary.label-thread(title="Label")
								span.glyphicon.glyphicon-list
							button.btn.btn-xs.btn-default.view-on-gmail(title="View on Gmail")
								span.glyphicon.glyphicon-option-horizontal
							button.btn.btn-default(type="button" data-dismiss="modal") Close
		#later-picker.modal.fade(tabindex="-1" role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title Subject Line Here
					.modal-body
						.row
							.col-xs-4
								.button(data-value="hours")
									.glyphicon.glyphicon-time
									.later-label.noselect Couple of Hours
							.col-xs-4
								.button(data-value="evening")
									.glyphicon.glyphicon-lamp
									.later-label.noselect Coming Evening
							.col-xs-4
								.button(data-value="tomorrow")
									.glyphicon.glyphicon-bed
									.later-label.noselect Tomorrow
						.row
							.col-xs-4
								.button(data-value="weekend")
									.glyphicon.glyphicon-sunglasses
									.later-label.noselect This Weekend
							.col-xs-4
								.button(data-value="monday")
									.glyphicon.glyphicon-briefcase
									.later-label.noselect Next Monday
							.col-xs-4
								.button(data-value="month")
									.glyphicon.glyphicon-calendar
									.later-label.noselect In a Month
						.row
							.col-xs-4
								.button(data-value="someday")
									.glyphicon.glyphicon-cloud
									.later-label.noselect Someday
							.col-xs-4
								.button(data-value="when-i-have-time")
									.glyphicon.glyphicon-tasks
									.later-label.noselect When I have time
							.col-xs-4
								.button(data-value="custom")
									.glyphicon.glyphicon-pencil
									.later-label.noselect Pick a Date
		#label-picker.modal.fade(tabindex="-1" role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title Subject Line Here
					.modal-body
						ul.label-list
							li Inbox
							li Spam
							li Trash
							li Unread
		script(type='text/javascript' src='https://apis.google.com/js/api.js')
		script(type='text/javascript' src='https://accounts.google.com/gsi/client')
		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
		script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.js')
		script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/js/messenger.js")
		script(type='text/javascript' src="public/filesize.min.js")
		script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js")
		script(type='text/javascript' src='public/clientmain.js')
		script#handlebar-group(type='text/x-handlebars-template')
			.group {{label}}
		script#handlebar-thread(type='text/x-handlebars-template')
			.thread(data-thread-id="{{threadId}}" class="visibility-{{visibility}}")
				.row
					.col-xs-10
						strong From&nbsp;
						span.senders(title="{{#each senders}} {{this.name}} {{/each}}")
							| {{senders.0.name}} ({{senders.0.email}})
							| {{#if senders.1.name}}
							| (and {{nMore senders.length}} more)
							| {{/if}}
						| {{#if receivers.0.name}}
						strong To&nbsp;
						span.receivers(title="{{#each receivers}} {{this.name}} {{/each}}")
							| {{receivers.0.name}}
							| {{#if receivers.1.name}}
							| (and {{nMore receivers.length}} more)
							| {{/if}}
						| {{/if}}
					.col-xs-2
						| {{messageIds.length}}
						span.glyphicon.glyphicon-envelope
						| &nbsp;
						| {{prettyTimestamp lastUpdated}}
				.row
					.col-xs-10
						strong.subject {{subject}}
						span
							| {{#each mainDisplayedLabelIds}}
							span.badge {{labelIdToName this}}
							| {{/each}}
						p.snippet {{snippet}}
					.col-xs-2
						button.btn.btn-xs.btn-success.archive-thread(title="Done")
							span.glyphicon.glyphicon-ok
						button.btn.btn-xs.btn-danger.delete(title="Delete")
							span.glyphicon.glyphicon-remove
						button.btn.btn-xs.btn-warning.later(title="Later")
							span.glyphicon.glyphicon-time
						button.btn.btn-xs.btn-primary.label-thread(title="Label")
							span.glyphicon.glyphicon-list
						a.btn.btn-xs.btn-default.view-on-gmail(title="View on Gmail" href="https://mail.google.com/mail/u/0/#inbox/{{threadId}}" target="_blank")
							span.glyphicon.glyphicon-option-horizontal
		script#handlebar-deleted-messages(type='text/x-handlebars-template')
			.panel.panel-danger
				.panel-heading
					.panel-title {{num}} deleted {{pluralize num "message" "messages"}}
				.panel-body
					| This thread contains {{num}} deleted {{pluralize num "message" "messages"}}.
					| You can view {{pluralize num "it" "them"}} at
					| <a href="https://mail.google.com/mail/u/0/#trash/{{threadId}}" target="_blank">https://mail.google.com/mail/u/0/#trash/{{threadId}}</a>.
		script#handlebar-message(type='text/x-handlebars-template')
			.message(data-message-id="{{messageId}}").panel.panel-default
				.panel-heading
					.panel-title
						.row
							.col-xs-6
								strong From
								| {{#each from}}
								| {{name}}
								| {{/each}}
								| {{#if to.0.name}}
								strong To
								| {{#each to}}
								| {{name}}
								| {{/each}}
								| {{/if}}
							.col-xs-2
								| {{prettyTimestamp date}}
							.col-xs-4
								| {{wordcount}} words: {{duration}}
				.panel-body
					.row
						.col-xs-12.message-body
							| {{& body.sanitized}}
				.panel-footer
					.row
						.col-xs-12.message-body
							| {{#each attachments}}
							button.btn.btn-default.dl-attachment(data-attachment-id="{{attachmentId}}" data-attachment-name="{{filename}}")
								span.glyphicon.glyphicon-file(aria-hidden="true")
								| {{filename}}
								| {{filesize size}}
							| 
							| {{/each}}
		script#handlebar-label-selection(type='text/x-handlebars-template')
			| <button class="btn {{#if isSystem}}btn-warning{{else}}{{/if}}" {{#if isSystem}}{{else}}style="background-image: linear-gradient(to bottom,hsl({{hue}},84%,40%),hsl({{hue}},84%,38%) 100%); border-color: hsl({{hue}},85%,26%); color:#fff; text-shadow: 0 -1px 0 rgba(0,0,0,.2);"{{/if}}" data-label-id="{{id}}")>
			| {{labelIdToName id}}
			| </button>

